$nav-link-bg-color: #000000;
$nav-link-color: #FFFFFF;
$nav-link-hover-bg-color: #333333;
$nav-link-selected-bg-color: #F05523;

.nav {
  $spacing: 0.5em;

  display: flex;
  flex-wrap: wrap;

  &__link {
    background-color: $nav-link-bg-color;
    color: $nav-link-color;
    padding: $spacing;

    & + & {
      margin-left: $spacing;
    }

    &:hover {
      background-color: $nav-link-hover-bg-color;
    }

    &.is-selected {
      background-color: $nav-link-selected-bg-color;
    }

    body.site-code-forums & {
      font-family: Consolas, monospace;
    }
  }
}

