.logo img {
  display: block;
  width: 157px;
  height: 90px;
  background-image: url(/images/mmoc-logo-overwatch.png);
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 157px;
}
